# local:
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/simpleapp
# neon:
# DATABASE_URL=postgresql://user:pass@host.neon.tech/simpleapp?sslmode=require
SECRET_KEY=change-me

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
